
@{
    Layout = null;
}

<h1>Burası Şehir Paneli</h1>

<table>
    <tr>
        <th>#</th>
        <th>Ulke</th>
        <th>Sehir</th>
        <th>Nufus</th>
    </tr>
    <tr>
        <td>@ViewBag.v1</td>
        <td>@ViewBag.v2</td>
        <td>@ViewBag.v3</td>
        <td>@ViewBag.v4</td>
    </tr>
</table>
