
@{
    Layout = null;
}

<a href="/Default/Urunler">Ürünler sayfası</a>
<a href="/Default/Musteriler">Müşteri sayfası</a>


<h1>Merhaba core Oop projesi</h1>
<h3>Dersler devam ediyor</h3>

<h1>Mesaj Listesi</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
